<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountService.currentUser$|async">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/members" routerLinkActive="active">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
      </li>
    </ul>
    <div class="dropdown" *ngIf="(accountService.currentUser$|async) as user" dropdown>
      <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}" style="margin-right: 6px;">
      <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.knownAs | titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    <form #loginForm="ngForm" class="d-flex" role="search" (ngSubmit)="login()" novalidate autocomplete="false"
      *ngIf="(accountService.currentUser$|async)===null">
      <input class="form-control me-2" type="text" [(ngModel)]="model.username" name="username" placeholder="Username">
      <input class="form-control me-2" type="password" [(ngModel)]="model.password" name="password"
        placeholder="Password">
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
</nav>